
# configuration and readme
!.gitignore
!.gitpod.yml
.theia
.vscode
!.gitpod.Dockerfile
!learn.json
!README.md

# learn exercises
!/.learn
/.learn/**
!/.learn/bc.json
!/.learn/.bc.json
!/.learn/exercises
!/.learn/exercises/**
!/.learn/assets
!/.learn/assets/**

# python garbage
*.pyc
.venv
conftest.py
__pycache__/
.pytest_cache/

# Some other files

venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/